.input-container
    input.add-new(
        data-ng-model="taskText"
        data-ng-keyup="addTask($event);"
        placeholder="Введите текст задания"
        autofocus
    )
    button.add-new-btn(
        data-ng-click="addTask($event);"
    )
.list-wait(
    data-dashboard-task-list="list.wait"
    data-list-type="wait"
    data-list-label="Ожидание"
)
.list-active(
    data-dashboard-task-list="list.active"
    data-list-type="active"
    data-list-label="В процессе"
)
.list-completed(
    data-dashboard-task-list="list.completed"
    data-list-type="completed"
    data-list-label="Завершено"
)